.maker {
	padding-top: 40px;
	&__container {
		&-select {
			display: flex;
			justify-content: center;
		}
		&-month {
			grid-column: 40 span;
			background: var(--purple-color);
			border-radius: 8px 8px 0 0;
			border: 1px solid var(--purple-color);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 12px;
		}
	}
	&__header {
		display: grid;
		grid-template-columns: repeat(40, 1fr);
	}
	&__month {
		font-size: 22px;
		line-height: 36px;
		text-align: center;
		color: var(--white-color);
	}
	&__weekday {
		grid-column: 6 span;
		text-align: center;
		font-size: 18px;
		line-height: 34px;
		border-bottom: 1px solid var(--border-color);
		border-right: 1px solid var(--border-color);
		&-first {
			border-left: 1px solid var(--border-color);
		}
		&-last {
			grid-column: 4 span;
		}
	}
	&__period {
		grid-column: 3 span;
		text-align: center;
		font-size: 15px;
		line-height: 34px;
		border-right: 1px solid var(--border-color);
		&-first {
			border-left: 1px solid var(--border-color);
		}
		&-last {
			grid-column: 4 span;
		}
	}
	&__days {
		display: grid;
		grid-template-columns: repeat(40, 1fr);
		& .maker {
			&__cell {
				&:nth-child(7n + 1) {
					border-left: 1px solid var(--black-color);
				}
				// &:nth-last-child(7) {
				// 	border-bottom-left-radius: 8px;
				// 	overflow: hidden;
				// }
				&:last-child {
					border-bottom-right-radius: 8px;
					overflow: hidden;
				}
				&:nth-child(7n) {
					grid-column: 4 span;
				}
			}
		}
	}
	&__cell {
		position: relative;
		grid-column: 6 span;
		min-height: 120px;
		border: 1px solid var(--border-color);
		border-right-color: var(--black-color);
		border-left: 0;
		border-top: 0;
		display: flex;
		align-content: flex-start;
		flex-wrap: wrap;
		& .maker__column:not(:last-child) {
			border-right: 1px solid var(--border-color);
		}
		&-sunday {
			& .maker__column {
				width: 100%;
			}
		}
		&-empty {
			cursor: not-allowed;
			&::after {
				content: "";
				position: absolute;
				inset: 0;
				background: var(--grey-color);
				z-index: 10;
			}
		}
	}
	&__number {
		position: relative;
		width: 100%;
		border-bottom: 2px solid var(--black-color);
		border-top: 2px solid var(--black-color);
		height: 26px;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		padding: 0 4px;
		background: var(--grey-color);
		z-index: 20;
	}
	&__column {
		width: 50%;
		// height: 100%;
		display: flex;
		flex-direction: column;
		& .maker__input:not(:last-child) {
			border-bottom: 1px solid var(--border-color);
		}
		& .maker__container-select:not(:last-child) {
			border-bottom: 1px solid var(--border-color);
		}
	}
	&__input {
		font-size: 10px;
		line-height: 18px;
		height: 18px;
		padding: 0 1px;
		text-align: center;
		border: none;
		outline: none;
		background: var(--grey-color);
		color: var(--black-color);
		transition: background 0.3s ease, color 0.3s ease;
		width: 42%;
		&-invalid {
			border: 1px solid crimson;
		}
	}
	&__select {
		padding: 0 4px;
		appearance: none;
		outline: none;
		font-size: 10px;
		line-height: 17px;
		border: none;
		text-align: center;
		width: 58%;
	}
	&__button {
		&-save {
			display: block;
			margin-top: 16px;
			margin-left: auto;
			padding: 7px 14px;
			background: var(--purple-color);
			color: var(--white-color);
			border-radius: 8px;
			font-size: 16px;
		}
		&-month {
			color: var(--white-color);
			font-weight: 500;
		}
	}
}
