:root {
	// base
	--font-family: "Montserrat", sans-serif;
	--content-width: 1800px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #1c202a;
	--border-color: #a1a5ad;
	--grey-color: #daeef3;
	--purple-color: #964377;
}
